.poster {
  display: grid;
}

.poster.selected .overlay,
.poster .overlay {
  display: none;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  background-color: black;
  opacity: 0.8;
}

.poster.selected .overlay,
.poster:hover .overlay {
  display: grid;
  place-items: center;
}

.poster img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.overlay button {
  grid: 1fr / 1fr;
  place-items: center;
}

.overlay button.row {
  grid: 1fr / auto 1fr;
  align-items: center;
  justify-content: space-around;
}

.overlay button.stack * {
  grid-area: 1 / 1;
}

